<section class="pb-banner position-relative banner-bg">
    <section class="water-wave">
        <img class="img-fluid" src="assets/images/wave.svg">
    </section>
</section>

<div class="container mb-5">
    <h1 class="block-header">SQL Server</h1>
    <div class="card mt-5">
        <h5 class="card-header bg-theme text-white">Level : Advance </h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-theme text-white">Training  Area: Data Base </li>
            <li class="list-group-item bg-theme text-white">Duration : 6 weeks</li>
            <li class="list-group-item bg-theme text-white">Classes : 2 Classes per week</li>
            <li class="list-group-item bg-theme text-white">Price : INR 3,000/-</li>
            <li class="list-group-item bg-theme text-white">Mode of Training : Online </li>
        </ul>
    </div>
    <p class="h3 mt-3 text-right text-danger">Details are coming soon ..</p>
</div>

