<div class="container">
  <h1 class="block-header">Any Queries? Don’t Hesitate! Feel Free to Make a Call</h1>

  <div class="row justify-content-around">
    <div class="col-md-6 col-sm-12">
      <div class="contact-box">
        <a href="mailto:info@technoplex.co.in">
          <label class="icon-box">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </label>
          <span>info@technoplex.co.in</span>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 ">
      <div class="contact-box">
        <a href="tel:+919748317676">
          <label class="icon-box">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </label>
          <span>+91- 9748317676
          </span>
        </a>
      </div>
    </div>
  </div>


  <!--Social Media-->

  <ul class="social-media list-unstyled">
    <li classs="smd-hover">
      <a href="#" class="share">
        <i class="fa fa-share-alt" aria-hidden="true"></i>
      </a>

      <ul class="list-unstyled smd-links">
        <li>
          <a href="https://www.facebook.com/technoplex.in/" class="facebook" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/technoplex-computer/"  class="linkedin" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li >
          <a href="https://web.whatsapp.com/" class="whatsapp" target="_blank">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
          </a>
        </li>
        <!-- <li>
          <a href="#" class="twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li> -->
        
      </ul>
    </li>

  </ul>



  <div class="row justify-content-around">
    <div class="col-xl-10 col-md-12">
      <div class="text-theme py-sm-4 text-xs-center text-sm-right">
        Copy right <i class="fa fa-copyright"></i> 2020 Technoplex
      </div>
    </div>
  </div>
</div>