<section class="pb-banner position-relative banner-bg">
    <section class="water-wave">
        <img class="img-fluid" src="assets/images/wave.svg">
    </section>
</section>

<div class="container mb-5">
    <h1 class="block-header">Digital Marketing</h1>

    <div class="card mt-5 bg-theme text-white">
        <h5 class="card-header ">Level : Beginner </h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-theme text-white">Training  Area: SEO, SMO, Youtube Marketing.. </li>
            <li class="list-group-item bg-theme text-white">Duration : 8 weeks</li>
            <li class="list-group-item bg-theme text-white">Classes : 2 Classes per week</li>
            <li class="list-group-item bg-theme text-white">Price : INR 3,500/-</li>
            <li class="list-group-item bg-theme text-white">Mode of Training : Online </li>
        </ul>
    </div>
    <p class="h3 mt-3 text-right text-danger">Details are coming soon ..</p>
</div>



