<div class="container text-white">
    <h1 class="block-header">About</h1>

    <div class="row">
        <div class="col-xl-6 col-md-12">
            <div class="my-3">
                <div class="text-center">
                    <img class="img-fluid" src="../../../assets/images/banner.png">
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-12">
            <dl class="my-3">
                <dt class="h5 font-italic">
                    We provide Compact  IT Training  with low price with below features.
                </dt>
                <dd><i class="fa fa-square-o"></i> &nbsp;
                    One to One training. 
                </dd>
                <dd><i class="fa fa-square-o"></i> &nbsp;
                    Flexible Training Timing.
                </dd>
                <dd><i class="fa fa-square-o"></i> &nbsp;
                    Weekend Class.
                </dd>
                <dd><i class="fa fa-square-o"></i> &nbsp;
                    Hands on Live Project.
                </dd>
                <dd><i class="fa fa-square-o"></i> &nbsp;
                    Standard Training Module.
                </dd>
                <dd><i class="fa fa-square-o"></i> &nbsp;
                    Career Counseling. 
                </dd>
                <dd><i class="fa fa-square-o"></i> &nbsp; 
                    We provide Course Completion Certificate Authorized by MSME (W.B. Govt.)
                </dd>
                <dd><i class="fa fa-square-o"></i> &nbsp;
                    Real Time Problem Solving Supporting Class.
                </dd>
                <dd><i class="fa fa-square-o" aria-hidden="true"></i> &nbsp;
                    Frequent Skill Evaluation Test.
                </dd>
                <dd><i class="fa fa-square-o"></i> &nbsp;
                    Communication Medium : English, Bengali, Hindi.
                </dd>
            </dl>
        </div>
        
    </div>
</div>
